@import"https://fonts.googleapis.com/css2?family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap";

html {
    font-family:"Iosevka Charon Mono", monospace;
    background-color:#222222;
    color:white;
}

h1.topnav {
    margin:0px;
    font-size:44px
}

hr.topnav {
    border:2px solid white
}